* {
    margin: 0;
    padding: 0;
    border-width: 0;
    color: white;
    box-sizing: border-box;
}


:root {
    --border-radius: 10px;
    --dark-color: #121212;
    --less-dark-color: #38b6ff28;
    --green-color: #1DB954;
    --green-color-bright: #24dd64;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#page {
    background-color: var(--dark-color);
}

body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0;
}

#container {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-items: center;
    gap: 5px;
}

.form {
    width: clamp(375px, 50%, 750px);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
    padding: 15px 40px;
    border-radius: var(--border-radius);
}

#url {
    height: 40px;
    width: 100%;
    border-radius: var(--border-radius);
    font-weight: lighter;
    font-size: 1rem;
    padding: 0 20px;
    color: var(--dark-color);
}

#step-2-wrapper {
    width: 80%;
    display: flex;
    align-items: center;
}

.button {
    height: 40px;
    min-width: 80px;
    border-radius: var(--border-radius);
    font-weight: bolder;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#go-button{
    width: 100%;
    background-color: var(--green-color);
}

.button:hover {
    cursor: pointer;
}

#go-button:hover {
    background-color: var(--green-color-bright);
}

#status {
    margin-top: 20px;
    color: green;
}

#logo {
    height: auto;
    width: 150px;
    margin-top: 15px;
    text-align: center;
}

.download-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
    align-items: start;
    justify-content: space-between;

}

.download-step {
    width: 50px;

}

#choose-file {
    font-size: 1rem;
    font-weight: lighter;
}

#upload-file-button {
    width: fit-content;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 3px solid white;
    border-radius: var(--border-radius);
    padding: 3px 30px 3px 10px;
    justify-self: flex-start;
}

#upload-file-button:hover {
    cursor: pointer;
    background-color: #ffffff1c;
}

#upload-file-button:hover #choose-file{
    cursor: pointer;
}

.sync-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 100%;
}

.sync-button {
    width: 100%;
}

#sync-all {
    background-color: var(--green-color);
}

#sync-all:hover {
    background-color: var(--green-color-bright);
}

#sync-specific {
    border: 3px solid white;
    border-radius: var(--border-radius);
    background: transparent;
}

#sync-specific:hover {
    background-color: #ffffff1c;
    cursor: pointer;
}

.note {
    font-size: 0.75rem;
    font-weight: lighter;
    font-style: italic;
    color: #ffffffa3;
}