<!DOCTYPE html>
<html id="page" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>TuneSync</title>
		<link
			rel="icon"
			href="{{ url_for('static', filename='resources/Favicon.png') }}"
			type="image/png"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
	</head>
	<div id="container">
		<body>
			<img
				src="{{ url_for('static', filename='resources/TuneSync-White.png') }}"
				id="logo"
			/>

			<form id="download-form" class="form">
				<h3>Create new local playlist</h3>
				<div class="download-row">
					<input
						type="text"
						id="url"
						name="url"
						placeholder="Enter URL (Spotify)"
						required
					/>
				</div>
				<div class="download-row upload-file">
					<button class="button" id="download-button" type="submit">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							height="24px"
							viewBox="0 -960 960 960"
							width="24px"
							fill="#FFFFFF"
						>
							<path
								d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"
							/>
						</svg>
						Download
					</button>
				</div>
			</form>
			<div class="seperator">- or -</div>
			<div id="sync-form" class="form">
				<h3>Sync existing playlists</h3>
				<button class="sync-button button" id="sync-all">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						height="24px"
						viewBox="0 -960 960 960"
						width="24px"
						fill="#FFFFFF"
					>
						<path
							d="M160-160v-80h110l-16-14q-52-46-73-105t-21-119q0-111 66.5-197.5T400-790v84q-72 26-116 88.5T240-478q0 45 17 87.5t53 78.5l10 10v-98h80v240H160Zm400-10v-84q72-26 116-88.5T720-482q0-45-17-87.5T650-648l-10-10v98h-80v-240h240v80H690l16 14q49 49 71.5 106.5T800-482q0 111-66.5 197.5T560-170Z"
						/>
					</svg>
					Sync All
				</button>
				<button class="sync-button button" id="sync-selected">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						height="24px"
						viewBox="0 -960 960 960"
						width="24px"
						fill="#FFFFFF"
					>
						<path
							d="M716-520q-7-41-27-76t-49-62v98h-80v-240h240v80H691q43 38 70.5 89T797-520h-81ZM600-280h200v-80H600v80Zm-20 80q-25 0-42.5-17.5T520-260v-120q0-25 17.5-42.5T580-440h240q25 0 42.5 17.5T880-380v120q0 25-17.5 42.5T820-200H580Zm-420 40v-80h109q-51-44-80-106t-29-134q0-112 68-197.5T400-790v84q-70 25-115 86.5T240-480q0 54 21.5 99.5T320-302v-98h80v240H160Zm320 80v-80h440v80H480Zm120-200v-80 80Z"
						/>
					</svg>
					Sync Selected
				</button>
			</div>
			<div id="status"></div>
			<script src="{{ url_for('static', filename='script.js') }}"></script>
		</body>
	</div>
</html>
