<!DOCTYPE html>
<html id="page" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TuneSync</title>
		<link
			rel="icon"
			href="../static/resources/Favicon.png"
			type="image/png"
		/>
		<link rel="stylesheet" href="/static/style.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=folder"
		/>
	</head>
	<div id="container">
		<body>
			<img src="../static/resources/TuneSync-White.png" id="logo" />
			<form id="download-form">
				<h2>Download and Sync your Music</h2>
				<div class="download-row">
					<h3 class="download-step">1</h3>
					<input
						type="text"
						id="url"
						name="url"
						placeholder="Soundcloud URL - Playlist, Album or Song"
						required
					/>
					<div class="download-step"></div>
				</div>
				<div class="download-row upload-file">
					<h3 class="download-step">2</h3>
					<div id="step-2-wrapper">
						<div id="upload-file-button">
							<input
								type="text"
								id="path"
								style="display: none"
							/>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								height="48px"
								viewBox="0 -960 960 960"
								width="48px"
								fill="#FFFFFF"
							>
								<path
									d="M186-180q-36.73 0-61.36-24.64Q100-229.27 100-266v-428q0-36.72 24.64-61.36Q149.27-780 186-780h167l106 106h315q36.72 0 61.36 24.64T860-588v322q0 36.73-24.64 61.36Q810.72-180 774-180H186Zm0-54h588q14 0 23-9t9-23v-322q0-14-9-23t-23-9H437L331-726H186q-14 0-23 9t-9 23v428q0 14 9 23t23 9Zm-32 0v-492 492Z"
								/>
							</svg>
							<label id="choose-file" for="path"
								>Choose folder</label
							>
						</div>
					</div>
					<div class="download-step"></div>
				</div>
				<div class="download-row">
					<h3 class="download-step">3</h3>
					<button class="go-button" type="submit">GO</button>
					<div class="download-step"></div>
				</div>
			</form>
			<div id="status"></div>
			<script src="/static/script.js"></script>
		</body>
	</div>
</html>
